<canvas id="barChart" width="400" height="200"></canvas>

<script>
    const dataFromDjangoBar = {{ bar_data|safe }};

    const labelsBar = dataFromDjangoBar.map(item => item.word);
    const frequenciesBar = dataFromDjangoBar.map(item => item.frequency);

    const dataBar = {
        labels: labelsBar,
        datasets: [{
            label: "Frecuencia de Palabras (Bar)",
            data: frequenciesBar,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            borderWidth: 1
        }]
    };

    const configBar = {
        type: 'bar',
        data: dataBar,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById('barChart').getContext('2d');
        var myChart = new Chart(ctx, configBar);
    });
</script>
