<div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-8">
        <div class="shadow-lg p-3 bg-body-tertiary rounded">
          <form action="{% url 'drops' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by news, keyword and more.." name="key_instance">
            </div>
          </form>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  
