<canvas id="doughnutchart"></canvas>
<script>
    {% comment %} // Datos recibidos desde Django
    const dataFromDjango = {{ bar_data|safe }};

    // Extraer las etiquetas (palabras) y los datos (frecuencias) de los datos recibidos
    const labels = dataFromDjango.map(item => item.word);
    const frequencies = dataFromDjango.map(item => item.frequency); {% endcomment %}

    const data = {
    labels: [
        'Red',
        'Blue',
        'Yellow'
    ],
    datasets: [{
        label: 'My First Dataset',
        data: [300, 50, 100],
        backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
    }]
    };

    const config = {
        type: 'doughnut',
        data: data,
        options: {
            rotation: -90,
            circumference: 180,
          },
    };

    document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById('doughnutchart').getContext('2d');
        var myChart2 = new Chart(ctx, config);
    });
</script>
