{% extends "layout/base.html" %}

{% block "content" %}
{% if most_frequent_time %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{drop.key_instance}}</h1>
  </div>
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h6> Word cloud </h6>
    <p> View the most used words related to this keyword </p>
      <div class="row">
          <div class="col-lg-6">
              {% include "drops/partials/grafoword.html" %}
          </div>
          <div class="col-lg-6">
              {% include "drops/partials/barchar.html" %}
          </div>
      </div>
  </div>


  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h6>Breaking news</h6>
    <p>See the latest news and stay informed</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for new in news %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ new.title }}</h5>
            <p class="card-text text-muted small">{{ new.description }}</p>
            <a href="{{ new.link }}" class="stretched-link" target="_blank"></a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ new.source }} - {{ new.published_date }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <h6> Hour frequency </h6>
  <p> Discover the most frequent times of publications and their distribution over time </p>
  <div class="row">
      <div class="col-lg-6">
          {% include "drops/partials/news_frequency.html" %}
      </div>
      <div class="col-lg-6">
          {% include "drops/partials/most_frequent_time.html" %}
      </div>
  </div>
</div>

</div>



{% else %}

<div class="d-flex justify-content-center align-items-center" style="height: 400px;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
setTimeout(function() {
    location.reload();
}, 10000);
</script>



{% endif %}
{% endblock %}