{% extends "layout/base.html" %}

{% block "content" %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-5">
  <h1 class="h2">{{drop.key_instance}}</h1>
  <div class="d-flex flex-column flex-md-row ml-auto">
    <!-- Interval Dropdown -->
    <div class="dropdown me-2 mb-2 mb-md-0">
      <button class="btn btn-sm btn-transparent dropdown-toggle" type="button" id="dropdownMenuButtonInterval" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
          <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
          <line x1="16" y1="2" x2="16" y2="6"></line>
          <line x1="8" y1="2" x2="8" y2="6"></line>
          <line x1="3" y1="10" x2="21" y2="10"></line>
        </svg>
        {{selected_interval}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonInterval">
        <li><a class="dropdown-item" href="?interval=1D&country={{selected_country_code}}&language={{selected_language_code}}">1D</a></li>
        <li><a class="dropdown-item" href="?interval=7D&country={{selected_country_code}}&language={{selected_language_code}}">7D</a></li>
        <li><a class="dropdown-item" href="?interval=1M&country={{selected_country_code}}&language={{selected_language_code}}">1M</a></li>
      </ul>
    </div>

    <!-- Country Dropdown -->
    <div class="dropdown">
      <button class="btn btn-sm btn-transparent dropdown-toggle" type="button" id="dropdownMenuButtonCountry" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="2" y1="12" x2="22" y2="12"></line>
          <path d="M12 2a15.3 15.3 0 0 1 4 10a15.3 15.3 0 0 1-4 10a15.3 15.3 0 0 1-4-10z"></path>
        </svg>
        {{selected_country}}
      </button>
    </div>
  </div>
</div>

{% if bar_data %}

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h6> Word cloud </h6>
    <p> View the most used words related to this keyword </p>
      <div class="row">
          <div class="col-lg-6">
              {% include "drops/partials/grafoword.html" %}
          </div>
          <div class="col-lg-6">
              {% include "drops/partials/barchar.html" %}
          </div>
      </div>
  </div>

{% else %}
<div class="d-flex justify-content-center align-items-center" style="height: 400px;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
setTimeout(function() {
    location.reload();
}, 10000);
</script>
{% endif %}


{% if sentiment_data %}
<style>
  .emoticons {
      position: absolute;
      top: 25px;
      bottom: 25px;
      left: -10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 30px;
      color: black;
  }

  .emoji-top {
      align-self: flex-start;
  }

  .emoji-bottom {
      align-self: flex-end;
  }

  #sentiment_line_chart {
      max-width: 100%;
  }
</style>

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
<div class="row">
    <div class="col-12">
            <h6>Sentiment Trends</h6>
            <p>View positive and negative sentiments over time</p>
            <div class="position-relative">
              {% include "drops/partials/sentiment_line.html" %}
                <div class="emoticons">
                    <div class="emoji-top">😊</div>
                    <div class="emoji-bottom">😢</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center" style="height: 400px;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
setTimeout(function() {
    location.reload();
}, 10000);
</script>
{% endif %}

{% if news %}
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h6>Breaking news</h6>
    <p>See the latest news and stay informed</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for new in news %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ new.title }}</h5>
            <p class="card-text text-muted small">{{ new.description }}</p>
            <a href="{{ new.link }}" class="stretched-link" target="_blank"></a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ new.source }} - {{ new.published_date }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% else %}
  <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
      <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
  </div>
  
  <script>
  setTimeout(function() {
      location.reload();
  }, 10000);
  </script>
  {% endif %}

  {% if news_frequency and most_frequent_time %}
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <h6> Hour frequency </h6>
  <p> Discover the most frequent times of publications and their distribution over time </p>
  <div class="row">
      <div class="col-lg-6">
          {% include "drops/partials/news_frequency.html" %}
      </div>
      <div class="col-lg-6">
          {% include "drops/partials/most_frequent_time.html" %}
      </div>
  </div>
</div>

</div>

{% else %}
<div class="d-flex justify-content-center align-items-center" style="height: 400px;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
setTimeout(function() {
    location.reload();
}, 10000);
</script>





{% endif %}

{% endblock %}