{% extends "layout/base.html" %}

{% block "content" %}
{% if bar_data %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-5">
  <h1 class="h2">{{drop.key_instance}}</h1>
  <div class="dropdown">
    <button class="btn btn-sm btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      {{selected_interval}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="?interval=1D">1D</a></li>
      <li><a class="dropdown-item" href="?interval=7D">7D</a></li>
      <li><a class="dropdown-item" href="?interval=1M">1M</a></li>
    </ul>
  </div>
</div>

  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h6> Word cloud </h6>
    <p> View the most used words related to this keyword </p>
      <div class="row">
          <div class="col-lg-6">
              {% include "drops/partials/grafoword.html" %}
          </div>
          <div class="col-lg-6">
              {% include "drops/partials/barchar.html" %}
          </div>
      </div>
  </div>

{% else %}
<div class="d-flex justify-content-center align-items-center" style="height: 400px;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
setTimeout(function() {
    location.reload();
}, 10000);
</script>
{% endif %}

{% if news %}
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h6>Breaking news</h6>
    <p>See the latest news and stay informed</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for new in news %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ new.title }}</h5>
            <p class="card-text text-muted small">{{ new.description }}</p>
            <a href="{{ new.link }}" class="stretched-link" target="_blank"></a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ new.source }} - {{ new.published_date }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% else %}
  <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
      <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
  </div>
  
  <script>
  setTimeout(function() {
      location.reload();
  }, 10000);
  </script>
  {% endif %}

  {% if news_frequency and most_frequent_time %}
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <h6> Hour frequency </h6>
  <p> Discover the most frequent times of publications and their distribution over time </p>
  <div class="row">
      <div class="col-lg-6">
          {% include "drops/partials/news_frequency.html" %}
      </div>
      <div class="col-lg-6">
          {% include "drops/partials/most_frequent_time.html" %}
      </div>
  </div>
</div>

</div>

{% else %}
<div class="d-flex justify-content-center align-items-center" style="height: 400px;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
setTimeout(function() {
    location.reload();
}, 10000);
</script>
{% endif %}

{% endblock %}