{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>News-drop</title>


{% comment %} carga de staticos {% endcomment %}
<link rel="icon" href="https://storage.googleapis.com/djangostatic-bucket/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="https://storage.googleapis.com/djangostatic-bucket/img/favicon.ico" type="image/x-icon">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% comment %} carga de staticos {% endcomment %}

<body>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            {% block "content" %}
            {% endblock "content"  %}
        </div>
    </div>


</body>
</html>