{% extends "layout/base.html" %}

{% block "content" %}


<style>
    .profile-image {
        cursor: pointer;
        transition: transform 0.3s;
    }
    .profile-image:hover {
        transform: scale(1.1);
        border: 2px solid #007bff;
    }
</style>

<div class="modal-header p-5 pb-4 border-bottom-0 d-flex justify-content-between align-items-center">
    <div>
        <h1 class="fw-bold mb-0 fs-2">{{ user.username }}</h1>
    </div>
    <div class="ms-3">
        <img src="{{ profile_image_url }}" alt="Placeholder" width="150" height="150" class="rounded-circle profile-image" data-bs-toggle="modal" data-bs-target="#uploadImageModal">
    </div>
</div>

<div class="modal-body p-5 pt-0">
    <form action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="id_old_password" name="old_password" placeholder="Current Password">
            <label for="id_old_password">Current Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="id_new_password1" name="new_password1" placeholder="New Password">
            <label for="id_new_password1">New Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="id_new_password2" name="new_password2" placeholder="Confirm New Password">
            <label for="id_new_password2">Confirm New Password</label>
        </div>
        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Change Password</button>
        <small class="text-body-secondary">Ensure your password is strong and secure.</small>
    </form>
</div>




<div class="modal fade" id="uploadImageModal" tabindex="-1" aria-labelledby="uploadImageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadImageModalLabel">Upload Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'upload_image' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ imageformuser.as_p }}
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Upload Image</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock "content" %}